# Ignore Gradle project-specific cache directory
.gradle
gradle/
gradlew
gradlew.bat

# Ignore Gradle build output directory
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
